body{
    background-color: #16141d !important;
    color: #969696 !important;
}
.modal-header{
    background-color: #090518 !important;
}
.modal-body{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body input{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body input:disabled{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body textarea:disabled{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body input::placeholder{
    color: #adadad !important;
}
.modal-body textarea{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body textarea:read-only{
    color: #adadad !important;
}
.modal-body input:focus{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body textarea:focus{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body input:read-only{
    color: #adadad !important;
}
.modal-body select{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-body select:focus{
    background-color: #16141d !important;
    color: #adadad !important;
}
.modal-footer{
    background-color: #090518 !important;
}
table tbody tr:hover{
    background-color: #1f1c29 !important;
    color: rgb(219, 218, 218) !important;
    transition: 0.5s !important;
}
table thead{
    background-color: #33313a !important;
}
.sidebar-container{
    background-color: #090518 !important;
}
.sidebar-container a:hover{
    background-color: #33313a !important;
}
.btn{
    background-color: #4e4e4e !important;
}
.isActive{
    background-color: #33313a !important;
}

.isActive::after{
	background-color: #535258 !important;
}
.dark-theme{
    background-color: #16141d !important;
}
.dark-unread{
    color: #c2c2c2 !important ;
}
.r-con button{
    background-color: #045304 !important;
}
.bio::-webkit-scrollbar{
    background-color: #090518 !important;
}
.bio::-webkit-scrollbar-thumb{
    background: #544c74 !important;
}
.bio::-webkit-scrollbar-corner{
    background: #544c74 !important;
}
.profile-bar{
    border-top: solid 1px #fff;
}
.dev-name{
    color: #ff0f0f !important;
}
