body{
    margin: 0;
    background: #e9e9e9;
}
body::-webkit-scrollbar{
    width: 0px;
}
.modal-header{
    background-color: #1d232e;
    color: #ffffff;
    border-radius: 0px;

}
.m-custom{
    background-color: #000000c9 !important;
}
.modal-header div button{
    color: white;
    font-size: small;
}
.modal-header div button:hover{
    color: rgb(185, 185, 185);
}
.sidebar-container{
    position: fixed;
    background-color: #363c47;
    width: 250px;
    height: 100%;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 2px #41414199;
}
.sidebar-container label{
    background-color: #ca5100;
    color: #dfdfdf;
    width: 250px;
    margin: 0px;
    padding: 6px;
}
.sidebar-container a{
    text-decoration: none;
    display: block;
    line-height: 50px;
    color: #ffffff;
    font-size: 13px;
    padding-left: 40px;
    transition: 0.4s;
}
.sidebar-container a span{
    margin-right: 5px;
}
.sidebar-container a:hover{
    color: #181818;
    background-color: #cacaca;
}
.isActive{
	position: relative;
    color: #353535 !important;
  	background: #cacaca;
  	transition: all 500ms;
}

.isActive::after{
	content: "";
	top: 0;
	right: 0;
	width: 3%;
	position: absolute;
	background: #838383;
	height: 100%;
}
.display-container{
    margin-left: 250px;
}
.table-container{
    padding: 10px;
}
table{
    width: 100%;
    border: solid 1px #949494;
}
thead{
    font-size: 15px;
    font-weight: bolder;
}
thead td{
    padding: 8px;
    border: solid 1px #949494;
    border-bottom: solid 1px #313131 !important;
}
tbody td{
    padding: 5px;
    border: solid 1px #949494;
}
tbody td h6{
    font-size: 13px;
}
tbody td button{
    font-size: 13px !important;
}
.footer-custom{
    border-left: solid 1px white;
    margin-top: 20px;
    border-radius: 0px;
    background-color: #000000c9;
    color: white;
}
.message-list .modal-body a{
    text-decoration: none;
    color: #383838;
}
.message-list .modal-body a:hover{
    background-color: rgb(160, 0, 0);
}
.m-list{
    display: flex;
    height: 20px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 95%;
    color: #6b6a6a;
}
.m-list span{
    margin-right: 7px;
}
.t-list{
    color: #6b6a6a;
    width: 300px;
    text-align: right;
}
.message-board{
    border: solid 1px gray;
    border-radius: 0px;
    padding: 20px;
    padding-right: 20px;
    height: 300px;
    overflow-y: scroll;
}
.message-board::-webkit-scrollbar{
    width: 0px;
}
.send-board{
    display: flex;
}
.send-board input{
    border: solid 1px gray;
    border-radius: 0px;
}
.send-board button{
    border-radius: 0px;
}
.l-con{
    width: 70%;
}
.l-con button{
    text-align: left;
}
.r-con{
    margin-left: 30%;
    width: 70%;
    text-align: right;
}
.r-con button{
    text-align: left;
}
.unread{
    color: black;
}
.officer-profile img{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: solid 2px gray;
}
.officer-profile{
    text-align: center;
}
.bio{
    background-color: rgba(128, 128, 128, 0);
    outline: 0px;
    border: 0px;
    text-align: center;
    font-weight: 500;
}
.bio:disabled{
    background-color: rgba(128, 128, 128, 0);
    outline: 0px;
    border: 0px;
    text-align: center;
}
.table-profile img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 2px gray;
}
.message-img{
    width: 412px;
    border-radius: 5px;
    border: solid 1px #4b4b4b;
}
.download-link:hover{
    background-color: rgba(0, 0, 0, 0) !important;
}
.ms-profile{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border: solid 1px gray;
}
.dev-name{
    color: #ff6e2b;
}

.div-a span{
    margin-top: 20px;
    font-size: 30px;
}
.div-b{
    text-align: right;
}
.statistic-con-a{
    color: white;
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #a0a0a099;
}
.statistic-con-b{
    color: white;
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #a0a0a099;
}
.statistic-con-c{
    background-color: #2a3fff;
    color: white;
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: white;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #a0a0a099;
}
.statistic-con-a .div-a{
    text-align: center;
    background-color: #ac4907;
}
.statistic-con-a .div-b{
    color: rgb(56, 56, 56);
}
.statistic-con-b .div-a{
    text-align: center;
    background-color: green;
}
.statistic-con-b .div-b{
    color: rgb(56, 56, 56);
}
.statistic-con-c .div-a{
    text-align: center;
    background-color: #2a3fff;
}
.statistic-con-c .div-b{
    color: rgb(56, 56, 56);
}
.row{
    padding: 0px;
    margin: 0px;
}
.md-custom{
    background-color: rgba(255, 255, 255, 0) !important;
    color: rgb(48, 48, 48);
}
.md-competency-container{
    padding: 0px;
    border-bottom: gray solid 1px !important;
}
.md-competency-container h6{
    font-size: 15px !important;
}
.md-competency-container span{
    font-size: 10px !important;
}
.btn-group{
    margin: 0px !important;
    padding: 0px !important;
}
.innitials .modal-header{
    text-align: center;
    justify-content: center;
    height: 80px;
}
.account-details{
    margin-top: 2px;
    text-align: left;
    margin-left: 5px;
    width: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.account-details h6{
    font-size: 12px;
}
.innitials h5{
    background-color: #ac4907;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 1px white
}
.admin-navbar{
    padding-top: 30px;
    height: 80px;
}
.modal-custom-rate{
    margin-top: 11%;
    width: 400px !important;
}
.modal-custom-competency{
    margin-top: 15%;
    width: 500px !important;
}
.modal-custom-student{
    margin-top: 15%;
    width: 350px !important;
}
.right-details{
    width: 100%;
    margin-top: 10px;
    border: solid #15172b 1px;
    border-radius: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.right-details .cover{
    width: 100%;
    border-bottom: solid #15172b 2px;
}
.right-details div{
    padding: 10px;
}
.right-details h5{
    font-size: 17px;
}
.right-details h6{
    font-size: 13.5px;
}
.right-details .logo{
    width: 30px;
    height: 30px;
    border-radius: 100px;
}
.com-con{
    height: 440px;
    overflow-y: scroll;
}
.qr-card{
    background-image: url("../img/card2.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #41414199;
    width: 373px;
    padding: 10px;
    padding-top: 20px;
    height: 500px;
    margin-top: 10px;
    border: solid 0.5px gray;
}
.qr-card .header{
    text-shadow: 
	.0vw 0vw .4vw#000000, .0vw 0vw .0vw#030303, .2vw 0vw .4vw #000000;
    font-weight: bolder;
    color: white;
    margin-top: -7px;
}
.card-profile{
    background: #c5c5c5;;
    width: 118px;
    height: 150px;
    border: solid 1px #ffffff;
    border-radius: 3px;
}
.card-logo{
    width: 100px;
    height: 100px;
    border: solid 2px #c5c5c5;
    border-radius: 100px;
}
.qr-card .card-name{
    text-align: center;
    color: #15172b;
    text-transform: uppercase;
}
.qr-card .card-qrcode{
    text-align: center;
}
.qr-card .card-qrcode img{
    border: solid 2px #15172b;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: -112px;
}
.qr-card-back{
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #41414199;
    width: 373px;
    padding: 10px;
    padding-top: 20px;
    height: 500px;
    margin-top: 10px;
    border: solid 0.5px gray;
}
.back-header{
    font-size: 13px !important;
}
.circle-container{
    padding-top: 90px;
}
.circle{
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #15172b;
    border-radius: 100px;
    border: solid 2px #cecece;
}
.circle h6{
    margin-top: 4px;
    color: #ffffff;
    font-size: 15px;
}
.display-container-student-selected{
    width: 800px;
    margin: auto;
    background-color: white;
}
.slip-logo{
    width: 100px;
    height: 100px;
    border: solid 1px #15172b;
    border-radius: 100px;
    margin-left: 50px;
    margin-top: 35px;
}
.slip-header{
    padding-top: 30px;
    text-align: center;
}
.slip-title{
    text-align: center;
    margin-top: 20px;
}
.slip-profile{
    text-align: right;
}
.slip-profile img{
    width: 118px;
    height: 150px;
    border-radius: 5px;
    
}
.message-notif{
    margin-top: -5px; 
    margin-left: -5px; 
    background: red;
    width: 23px; 
    height: 23px; 
    text-align: center; 
    border-radius: 100px; 
    border: solid 1px white;
    color: white;
}
.message-notif:hover{
    color: white;
    text-decoration: none;
}