body{
    margin: 0%;
    background-image: url("../img/table1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
body::-webkit-scrollbar{
    width: 0px;
}
.modal-header{
    background-color: #15172b;
    color: white;
    border-radius: 0px;
}
.modal-header button{
    color: white;
    font-size: small;
}   
.footer-custom{
    position: fixed;
    width: 100%;
    bottom: 0px;
    border-left: solid 1px white;
    margin-top: 20px;
    border-radius: 0px;
    background-color: #15172b;
    color: white;
}
.dev-name{
    color: #ff6e2b;
}

.statistic-con-c{
    background-color: #2a3fff;
    color: white;
    border-radius: 5px;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.row{
    padding: 0px;
    margin: 0px;
}
.btn-group{
    margin: 0px !important;
    padding: 0px !important;
}
.display-container{
    margin: auto;
    height: 600px;
    width: 70%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #ffffff4f;
    border-radius: 50px;
    overflow-y: hidden;
    overflow-x: hidden;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 20px 5px #41414199;
}

.l-con{
    height: 600px;
}
.l-con img{
    margin-left: -20px;
    width: 110%;
    height: 100%;
    border-right: gray solid 1px;
}
.r-con{
    height: 600px;
}
.r-con img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 100px;
    border-radius: solid 1px gray;
}
.sign-in-form{
    width: 300px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.logo-container{
    text-align: center;
}
.modal-signup-ojt .modal-dialog{
    margin-top: 60px;
    width: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-signup-ojt .modal-content{
    margin-top: 100px;
    width: 450px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.modal-signup-ojt .modal-header{
    height: 50px;
}
.modal-signup-ojt .modal-body{
    background-color: #15172b !important;
    overflow-x: hidden;
}
.signup-con{
    width: 450px;
    background-color: #ffffff;
    padding: 20px;
    overflow-x: hidden;
}
.signup-con .modal-footer{
    height: 50px !important;
}
