body{
    margin: 0%;
    background-image: url("../img/hero3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    background-size: cover;
}

.display-container .row{
    padding: 0px;
    margin: 0px;
}
.time-container{
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
	z-index: 2;
    position: absolute;
	top: 50%;
}
.time-container h1{
	margin: 10px 0 30px;
	color: white;
	/*text-shadow: 
	.1vw 0vw .4vw#ffd8d8, .1vw 0vw .4vw#ffd8d8, .1vw 0vw .4vw #ffd8d8,
	
	.1vw 0vw 0vw  #161f9b, .2vw 0vw  0vw #161f9b, .4vw 0vw  0vw #161f9b, 
	.1vw 0vw 1vw  #161f9b, .2vw 0vw  1vw #161f9b, .4vw 0vw  1vw #161f9b, 
	.1vw 0vw 2vw  #161f9b, .2vw 0vw  2vw #161f9b, .4vw 0vw  1vw #161f9b, 

	.1vw 0vw 1vw  #02005e, .2vw 0vw  1vw #02005e, .4vw 0vw  5vw #02005e, 
	.1vw 0vw 5vw  #02005e, .2vw 0vw 20vw #02005e, .4vw 0vw 10vw #02005e, 
	.1vw 0vw 10vw #02005e, .2vw 0vw 30vw #02005e, .4vw 0vw 10vw #02005e;*/
}
.time-container h2{
    font-size: 40px;
	margin: 10px 0 30px;
	color: white;
	/*text-shadow: 
	.1vw 0vw .4vw#ffd8d8, .1vw 0vw .4vw#ffd8d8, .1vw 0vw .4vw #ffd8d8,
	
	.1vw 0vw 0vw  #161f9b, .2vw 0vw  0vw #161f9b, .4vw 0vw  0vw #161f9b, 
	.1vw 0vw 1vw  #161f9b, .2vw 0vw  1vw #161f9b, .4vw 0vw  1vw #161f9b, 
	.1vw 0vw 2vw  #161f9b, .2vw 0vw  2vw #161f9b, .4vw 0vw  1vw #161f9b, 

	.1vw 0vw 1vw  #02005e, .2vw 0vw  1vw #02005e, .4vw 0vw  5vw #02005e, 
	.1vw 0vw 5vw  #02005e, .2vw 0vw 20vw #02005e, .4vw 0vw 10vw #02005e, 
	.1vw 0vw 10vw #02005e, .2vw 0vw 30vw #02005e, .4vw 0vw 10vw #02005e;*/
}

.scan-container{
	margin: auto;
    margin-top: 120px;
    text-align: center;
}
.modal-header{
    background-color: #15172b;
    color: #ffffff;
    border-radius: 0px;
}
.scan-logo{
	width: 60px;
	height: 60px;
	border-radius: 100px;
}
.scan-header .col-md-8{
	margin-top: 5px;
	margin-left: -30px;
}
.timeDate #time{
	text-transform: uppercase;
}
#preview{
	width: 100%;
	height: 100%;
	border: solid 2px #15172b;
	border-radius: 10px;
}
.profile-container{
	height: 550px;
	overflow-y: scroll;
}
.profile-container h5{
	margin-top: 20px;
}
.scan-result{
	background-image: url("../img/card2.png");
    background-size: contain;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #41414199;
	margin-top: 10px;
	margin-left: 20px;
	width: 100px;
	text-align: center;
}
.scan-result img{
	width: 150px;
	height: 185px;
	border: solid 2px #ebebeb;
}
.scan-result .modal-header{
	width: 100%;
	display: block;
	text-align: left;
	padding-top: 10px;
	padding-bottom: 3px;
}
.scan-result .modal-header h6{
	font-size: 10px;
}