body {
    margin: 0;
}

body::-webkit-scrollbar {
    width: 0px;
}

.innitials .modal-header {
    text-align: center;
    justify-content: center;
    height: 80px;
}

.account-details {
    margin-top: 2px;
    text-align: left;
    margin-left: 5px;
    width: 200px;
    overflow-y: hidden;
    overflow-x: hidden;
    color: white;
}

.account-details h6 {
    font-size: 12px;
}

.innitials h5 {
    background-color: #c4540a;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 1px white;
    color: white;
}

.event-list {
    text-decoration: none !important;
    color: rgb(54, 54, 54);
}

.student-profile {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: solid 1px gray;
}

.view-student-profile {
    text-align: center;
}

.view-student-profile .cover {
    width: 100%;
    height: 180px;
    border-radius: 10px;
    border-bottom: solid 2px gray;
}

.view-student-profile .profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: solid 2px gray;
    margin-top: -110px;
}

.cred-con-up {
    overflow-y: scroll;
    border-radius: 10px;
    height: 600px;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 2px #cacaca99;
}

.cred-con-in {
    overflow-y: hidden;
    border-radius: 10px;
    height: 420px;
    width: 40%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 2px #cacaca99;
}

.card-list {
    border-radius: 10px;
    padding: 15px;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 2px #cacaca99;
    background-color: white;
}

.home {
    border-radius: 10px;
    height: 200px;
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row {
    padding: 0px;
    margin: 0px;
}

.table-container {
    height: 700px;
    overflow-y: scroll;
    overflow-x: scroll;
    padding: 10px;
}

table {
    width: 100%;
    border: solid 1px #949494;
}

thead {
    font-size: 15px;
    font-weight: bolder;
}

thead td {
    padding: 8px;
    border: solid 1px #949494;
    border-bottom: solid 1px #313131 !important;
}

tbody td {
    padding: 5px;
    border: solid 1px #949494;
}

tbody td h6 {
    font-size: 13px;
}

tbody td button {
    font-size: 13px !important;
}

.sidebar-container {
    position: fixed;
    background-color: #151922;
    width: 250px;
    height: 100%;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 2px #41414199;
}

input:read-only {
    background: white !important;
}

.sidebar-container label {
    background-color: #ca5100;
    color: #dfdfdf;
    width: 250px;
    margin: 0px;
    padding: 6px;
}

.sidebar-container a {
    text-decoration: none;
    display: block;
    line-height: 50px;
    color: #ffffff;
    font-size: 15px;
    padding-left: 40px;
    transition: 0.4s;
}

.sidebar-container a span {
    margin-right: 5px;
}

.sidebar-container a:hover {
    color: #181818;
    background-color: #cacaca;
}

.isActive {
    position: relative;
    color: #353535 !important;
    background: #cacaca;
    transition: all 500ms;
}

.isActive::after {
    content: "";
    top: 0;
    right: 0;
    width: 3%;
    position: absolute;
    background: #838383;
    height: 100%;
}

.display-container {
    margin-left: 250px;
    background-color: rgb(230, 230, 230);
}

.con-a div h5 {
    font-weight: bolder;
    font-size: 25px;
}

.con-a span {
    font-size: 30px;
    color: white;
    background-color: orangered;
    padding: 15px;
    border: solid 2px rgb(88, 24, 0);
    border-radius: 100px;
}

.con-b div h5 {
    font-weight: bolder;
    font-size: 25px;
}

.con-b span {
    font-size: 30px;
    color: white;
    background-color: blue;
    padding: 15px;
    border: solid 2px rgb(0, 0, 110);
    border-radius: 100px;
}

.con-c div h5 {
    font-weight: bolder;
    font-size: 25px;
}

.con-c span {
    font-size: 30px;
    color: white;
    background-color: green;
    padding: 15px;
    border: solid 2px rgb(0, 46, 0);
    border-radius: 100px;
}

.scan-container #preview {
    border-radius: 10px;
    border: solid 2px gray;
    width: 480px;
}

.attendance-card {
    padding: 20px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 10px 2px #41414199;
}

.attendance-card img {
    width: 75px;
    height: 75px;
}

.attendance-card div {
    margin-top: 5px;
    margin-left: 10px;
}

.attendance-card div h6 {
    font-size: 13px;
}

.qr-card {
    background-image: url("../img/card2.png");
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #41414199;
    width: 373px;
    padding: 10px;
    padding-top: 20px;
    height: 500px;
    margin-top: 10px;
    border: solid 0.5px gray;
    margin-top: 50px;
    margin-left: 30px;
}

.qr-card .header {
    text-shadow: .0vw 0vw .4vw#000000, .0vw 0vw .0vw#030303, .2vw 0vw .4vw #000000;
    font-weight: bolder;
    color: white;
    margin-top: -7px;
}

.card-profile {
    background: #c5c5c5;
    ;
    width: 118px;
    height: 150px;
    border: solid 1px #ffffff;
    border-radius: 3px;
}

.card-logo {
    width: 100px;
    height: 100px;
    border: solid 2px #c5c5c5;
    border-radius: 100px;
}

.qr-card .card-name {
    text-align: center;
    color: #15172b;
    text-transform: uppercase;
}

.qr-card .card-qrcode {
    text-align: center;
}

.qr-card .card-qrcode img {
    border: solid 2px #15172b;
    width: 200px;
    height: 200px;
    text-align: center;
    margin-top: -112px;
}

.qr-card-back {
    box-shadow: inset 0 0 0 #00000013, 0px 0px 5px 2px #41414199;
    width: 373px;
    padding: 10px;
    padding-top: 20px;
    height: 500px;
    margin-top: 10px;
    border: solid 0.5px gray;
}

.back-header {
    font-size: 13px !important;
}

.circle-container {
    padding-top: 90px;
}

.circle {
    margin: auto;
    width: 30px;
    height: 30px;
    background-color: #15172b;
    border-radius: 100px;
    border: solid 2px #cecece;
}

.circle h6 {
    margin-top: 4px;
    color: #ffffff;
    font-size: 15px;
}

.cred-header {
    display: flex;
    margin-top: -15px;
    margin-bottom: 15px;
}

.cred-header img {
    width: 80px;
}

.cred-header div h2 {
    font-family: pot;
    color: rgb(121, 14, 0);
}

.cred-header div h3 {
    font-family: quin;
    font-weight: bolder;
    color: rgb(0, 2, 105);
}

@font-face {
    font-family: pot;
    src: url('../fonts/PottaOne-Regular.ttf');
}

@font-face {
    font-family: quin;
    src: url('../fonts/Quindelia.ttf');
}